<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Loot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>Generate Things from DnD API</h1>
        </nav>
    </header>

    <main>
        <div class="button-group">
            <button id="item-button">Give me an item</button>
            <button id="monster-button">Give me a monster</button>
        </div>
        <div id="item-output"></div>
    </main>

    <footer>
        <p>&copy; ohitsmekatie 2025</p>
    </footer>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
